.round {
  width: 380px;
  height: 380px;
  border-radius: 100%;
}
.cardOptionMasks {
  padding: 15px 10px 0px 0px;
  p {
    color: #ffffff;
    font-size: 21px;
    font-family: TT Squares Condensed;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    padding-top: 23px;
  }
}
