@import url("./app/fonts/stylesheet.css");

$dark-color: #000000;
body {
  background: $dark-color;
}
header {
  width: 1430px;
  height: 895px;
  border-radius: 24px;
}
.header {
  position: relative;
  background: #4484e0;
  .title {
    position: relative;
    height: 250px;
    z-index: 0;
    .btn-about {
      position: absolute;
      right: 4%;
      top: 20%;
      width: 91px;
      height: 40px;
      background: #4484e0;
      border: 1px solid $dark-color;
      box-sizing: border-box;
      border-radius: 20px;
      z-index: 2;
      font-weight: 700;
      cursor: pointer;
      &:hover {
        transition: color 2s, box-shadow 0.7s;
        border: 1px solid #d3fd7ec5;
        box-shadow: 0px 0px 15px 10px #d3fd7e63;
        color: #d2fd7e;
      }
    }
    h1 {
      position: absolute;
      z-index: 1;
      top: -45px;
      font-size: 235px;
      font-style: normal;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      font-family: Verdana, sans-serif;
      color: $dark-color;
      margin: 0;
      span {
        font-family: Digitany;
        font-weight: 400;
      }
    }
  }
  &-body {
    display: flex;
    &-card {
      display: flex;
      position: relative;
      .user {
        position: absolute;
        bottom: -255px;
        right: 290px;
        img {
          border-radius: 24px;
        }
      }
      .card-info {
        position: absolute;
        top: -80px;
        right: -75px;
        width: 310px;
        height: 500px;
        .mail {
          font-family: TT Squares Condensed;
          font-size: 14px;
          color: #000000;
          opacity: 0.4;
          padding-top: 2px;
          padding-bottom: 12px;
        }
        .block-smile {
          display: flex;
          padding-top: 16px;
          padding-bottom: 43px;
        }
        .smile {
          margin: 0;
          display: flex;
          align-items: center;
          width: 55px;
          height: 30px;
          background-color: #0000002c;
          border-radius: 15px;
          img {
            padding-top: 3px;
          }
        }
        .info {
          font-family: TT Squares Condensed;
          margin-left: 20px;
          width: 89px;
          height: 30px;
          mix-blend-mode: normal;
          border: 1px solid #00000013;
          border-radius: 15px;
          background-color: #00000013;
          cursor: pointer;
        }
        &-descr {
          display: flex;
          align-items: center;
          padding-bottom: 19px;
          font-size: 14px;
          font-weight: 400;
          justify-content: space-between;
          div {
            margin: 0;
          }
          div:nth-child(2) {
            padding: 5px 0;
            padding-right: 40px;
          }
          color: #000000a1;
          .cost-descr {
            font-family: TT Squares Condensed;
            div:nth-child(2) {
              color: #000000;
              font-size: 21px;
            }
          }
        }
        .btnByNow {
          width: 310px;
          height: 44px;
          background: #000000;
          border-radius: 22px;
          color: #ffffff;
          font-family: Pixel;
          cursor: pointer;
          border: none;
          &:hover {
            transition: color 2s, box-shadow 0.7s;
            border: 1px solid #d3fd7ec5;
            box-shadow: 0px 0px 15px 10px #d3fd7e63;
            color: #d2fd7e;
          }
        }
        &-footer {
          display: flex;
          flex-direction: column;
          padding-top: 32px;
          div {
            margin: 0;
          }
          .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
              font-size: 18px;
              font-weight: 900;
              text-decoration: none;
              color: #000000;
            }
            a:nth-child(1) {
              padding-right: 10px;
            }
            &-title {
              font-family: TT Squares Condensed;
              font-weight: bold;
              padding-bottom: 12px;
              font-size: 14px;
              span {
                opacity: 0.38;
              }
            }
          }
          .collections-video {
            display: flex;
            &-card {
              font-family: TT Squares Condensed;
              width: 100px;
              height: 149px;
              color: #ffffff;
              .sup {
                font-size: 12px;
                margin-top: 107px;
                margin-bottom: 3px;
                margin-left: 10px;
              }
              .sub {
                display: flex;
                font-size: 10px;
                margin-left: 10px;
                img {
                  margin: 0;
                  width: 15px;
                  height: 15px;
                }
              }
            }
            &-card:nth-child(2) {
              margin: 0 5px;
            }
          }
        }
      }
    }
    &-menu {
      margin-left: 0px;
      z-index: 2;
      padding-left: 15px;
      padding-top: 112px;
      .menuz {
        cursor: pointer;
        img:hover {
          transition: color 2s, box-shadow 0.7s, transform 0.4s;
          box-shadow: 0px 0px 15px 10px #d3fd7e63;
          color: #d2fd7e;
          border-radius: 100%;
          transform: scale(1.3);
        }
      }
    }
    p {
      font-size: 38px;
      line-height: 42px;
      color: #000000;
      font-family: Pixel;
    }
  }
  &-footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: inherit;
    &-left {
      display: flex;
      width: 164px;
      height: 40px;
      align-items: center;
      background: #000000;
      border-radius: 20px;
      margin-left: 10px;
      margin-bottom: 10px;
      .leftBtn {
        background-color: #000000;
        border: none;
        color: #ffffff;
        padding: 12px 17px;
        cursor: pointer;
        border-radius: 24px 0 0 24px;
        &:hover {
          border: none;
          transition: color 2s, box-shadow 0.7s;
          color: #d2fd7e;
        }
      }
      .rightBtn {
        margin: 0;
        margin-right: 2px !important;
        background-color: #4280d9;
        border-radius: 24px;
        width: 80px;
        height: 38px;
        border: none;
        cursor: pointer;
        &:hover {
          transition: color 2s, box-shadow 0.7s;
          border: 1px solid #d3fd7ec5;
          box-shadow: 0px 0px 15px 10px #d3fd7e63;
          color: #d2fd7e;
        }
      }
    }
    &-right {
      margin: 0;
      display: flex;
      margin-right: 10px;
      margin-bottom: 10px;
      &-btn {
        width: 101px;
        height: 40px;
        left: 1325px;
        top: 850px;
        color: #ffffff;
        background: #000000;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        &:hover {
          transition: color 2s, box-shadow 0.7s;
          border: 1px solid #d3fd7ec5;
          box-shadow: 0px 0px 15px 10px #d3fd7e63;
          color: #d2fd7e;
        }
      }
      .mailBloc {
        display: flex;
        align-items: center;
        mix-blend-mode: normal;
        border: 1px solid #00000025;
        border-radius: 20px;
        font-family: TT Squares Condensed;
        font-size: 12px;
        padding: 0px 10px;
        img {
          padding-right: 5px;
        }
      }
    }
  }
}
.profile {
  width: 1430px;
  &-main {
    position: relative;
    overflow: hidden;
    width: 1430px;
    height: 446px;
  }
  &-top {
    height: 290px;
    position: relative;
    overflow: hidden;
    .container {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      .divider {
        position: absolute;
        width: 100vw;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.161217);
        &-main {
          top: 80px;
        }
        &-two {
          top: 148px;
        }
        &-three {
          top: 218px;
        }
        &-four {
          top: 288px;
        }
      }
    }
    &-title {
      font-family: TT Squares Condensed;
      font-style: normal;
      font-weight: bold;
      font-size: 21px;
      line-height: 18px;
      padding-bottom: 25px;
      padding-top: 39px;
      padding-left: 30px;
      color: #ffffff;
    }
    &-card {
      width: 282px;
      height: 68px;
      display: flex;
      padding: 10px 0;
      align-items: center;
      &:hover {
        background-color: #343a2ab7;
        border-radius: 16px;
        cursor: pointer;
      }
      span {
        margin: 0;
        padding: 0 16px 0 10px;
        color: #d2fd7e;
        font-family: TT Squares Condensed;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
      }
      img {
        margin: 0;
      }
      &-about {
        margin: 0;
        padding-left: 15px;
        p {
          font-family: TT Squares Condensed;
          font-weight: bold;
          font-size: 14px;
          line-height: 12px;
          color: #d2fd7e;
        }
        .name {
          padding-bottom: 9px;
          color: #ffffff;
        }
      }
    }
  }
  &-topCollection {
    div {
      margin: 0;
    }
    height: 842px;
    &-container {
      display: flex;
    }
    &-card:nth-child(2) {
      margin: 0 5px;
    }
    &-card {
      display: flex;
      color: #ffffff;
      flex-direction: column;
      justify-content: space-between;
      width: 500px;
      height: 750px;
      border-radius: 25px;
      cursor: pointer;
      &.one {
        background: url("./app/supportUtils/images/collection/bacground/Games.png");
      }
      &.two {
        background: url("./app/supportUtils/images/collection/bacground/Miracles.png");
      }
      &.three {
        background: url("./app/supportUtils/images/collection/bacground/Cartridge.png")
          no-repeat center/cover;
      }
      p {
        font-family: TT Squares Condensed;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 45px;
        color: #ffffff;
        margin: 0;
      }
      .masks {
        width: 66px;
        height: 30px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(27.1828px);
        border-radius: 15px;
        text-align: center;
        padding-top: 4px;
        margin-top: 487px;
        margin-left: 20px;
        font-family: TT Squares Condensed;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #ffffff;
      }
      .title {
        width: 418px;
        padding-left: 20px;
        font-family: TT Squares Condensed;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 45px;
      }
    }
    &-card:hover {
      transition: all 0.5s;
      transform: scale3d(1.1, 1.1, 1.1);
      z-index: 1;
      box-shadow: 0px 0px 30px 0px#d2fd7e;
      background-color: #d2fd7e;
    }
    .collection-card-footer {
      display: flex;
      margin: 0;
      .avatar {
        padding: 0 15px 20px 20px;
      }
      div:nth-child(3) {
        padding-left: 39px;
        p:nth-child(2) {
          font-family: TT Squares Condensed;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          color: #d2fd7e;
        }
      }
      .like {
        display: flex;
        align-items: center;
        width: 55px;
        height: 30px;
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(27.1828px);
        margin-left: 63px;
        margin-top: 14px;
        color: #ffffff;
        div {
          padding-left: 10px;
          padding-right: 8px;
          padding-top: 8px;
        }
        span {
          margin: 0;
          padding-top: 3px;
        }
      }
      p {
        font-family: TT Squares Condensed;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 12px;
      }
      p:nth-child(1) {
        font-size: 14px;
        mix-blend-mode: normal;
        opacity: 0.6;
        padding-bottom: 16px;
      }
    }
  }
  &-allCard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    cursor: pointer;
    div {
      margin: 0;
    }
    .cardz {
      position: relative;
      width: 353px;
      border-radius: 24px;
      overflow: hidden;
      &-bg {
        height: 505px;
        display: flex;
        background-color: #ffffff;
        border-radius: 24px 24px 4px 4px;
      }
      .cardsAvatar {
        position: absolute;
        width: 80px;
        height: 80px;
        bottom: 18%;
        left: 15px;
        border-radius: 100%;
        background-color: #ffffff;
        overflow: hidden;
        border: 5px solid #000000;
        z-index: 1;
        img {
          position: absolute;
          width: 65px;
          height: 70px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    .cardz:hover {
      transition: all 0.5s;
      transform: scale3d(1.1, 1.1, 1.1);
      z-index: 1;
      box-shadow: 0px 0px 30px 0px#d2fd7e;
      background-color: #d2fd7e;
    }
    &-footer {
      color: #ffffff;
      position: relative;
      margin: 0;
      height: 159px;
      background: #151613;
      border-radius: 4px 4px 24px 24px;
      &-title {
        padding-top: 49px;
        font-family: TT Squares Condensed;
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 18px;
        color: #ffffff;
        padding-left: 15px;
      }
      &-costs {
        padding-top: 11px;
        font-family: TT Squares Condensed;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
      }
      &-costNft {
        position: absolute;
        color: #d2fd7e;
        left: 15px;
      }
      &-costConvert {
        position: absolute;
        color: #6c7479;
        right: 15px;
      }
      .like {
        display: flex;
        align-items: center;
        width: 55px;
        height: 30px;
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(27.1828px);
        margin-left: 63px;
        margin-top: 14px;
        color: #6c7479;
        &-subdooter {
          display: flex;
        }
        img {
          fill: #d2fd7e;
        }
        div {
          padding-left: 10px;
          padding-right: 8px;
          padding-top: 8px;
        }
        span {
          margin: 0;
          padding-top: 3px;
        }
      }
      &-costs {
        display: flex;
      }
      &-subfooter {
        display: flex;
        align-items: center;
        padding-top: 20px;
        .block-userImg {
          margin-left: 15px;
          margin-top: 20px;
          margin-right: 10px;
        }
        .block-mail {
          width: 43px;
          padding-right: 172px;
          font-family: TT Squares Condensed;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: #6c7479;
        }
      }
    }
  }
}

p {
  font-size: 20px;
}
.shape {
  display: flex;
  align-items: center;
  width: 55px;
  height: 30px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(27.1828px);
  margin: 10px !important;
  div {
    padding-left: 10px;
    padding-right: 8px;
    padding-top: 0px;
  }
  span {
    margin: 0;
    padding-top: 0px;
  }
}
// apple reopen vintage enemy feel fox else grab mimic lava mobile stairs
